<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="SQL-ConnectionString" connectionString="live" providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="rabbitMQUrl" value="live" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>